<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?php /* @escapeNotVerified */ echo __('Order Information') ?></strong>
    </div>
    <div class="block-content">
    <?php if (!$_order->getIsVirtual()): ?>
        <div class="box box-order-shipping-address">
            <strong class="box-title"><span><?php /* @escapeNotVerified */ echo __('Shipping Address') ?></span></strong>
            <div class="box-content">
                <address><?php /* @escapeNotVerified */ echo $block->getFormattedAddress($_order->getShippingAddress()); ?></address>
            </div>
        </div>

        <div class="box box-order-shipping-method">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */ echo __('Shipping Method') ?></span>
            </strong>
            <div class="box-content">
            <?php if ($_order->getShippingDescription()): ?>
                <?php echo $block->escapeHtml($_order->getShippingDescription()) ?>
            <?php else: ?>
                <?php /* @escapeNotVerified */ echo __('No shipping information available'); ?>
            <?php endif; ?>
                <?php if ($shippings = $_order->getShipmentsCollection()): ?>
                    <?php foreach ($shippings as $shipping): ?>
                        <?php if ($no = $shipping->getShipPartno()): ?>
                            <div id="delivery-shippartno">
                                <strong><?php echo __('Shipped Part No') ?>:</strong>
                                <span class="price"><?= $no ?></span>
                            </div>
                        <?php endif; ?>
                        <?php if ($delivery_date = $shipping->getDeliveryDate()): ?>
                            <div id="delivery-date">
                                <strong><?php echo __('Delivery Date') ?>:</strong>
                                <span class="price"><?= $delivery_date ?></span>
                            </div>
                        <?php endif; ?>
                        <?php if ($dayofarrival = $shipping->getDateOfArrival()): ?>
                            <div id="date_of_arrival">
                                <strong><?php echo __('Date Of Arrival') ?>:</strong>
                                <span class="price"><?= $dayofarrival ?></span>
                            </div>
                        <?php endif; ?>
                        <?php if ($deadline_rma = $shipping->getDeadlineRma()): ?>
                            <div id="deadline-rma">
                                <strong><?php echo __('Deadline RMA') ?>:</strong>
                                <span class="price"><?= $deadline_rma ?></span>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php if ($d_date = $_order->getDeliveryDate()): ?>
                    <div id="delivery-shippartno">
                        <strong><?php echo __('Estimated time of arrival') ?>:</strong>
                        <span class="price"><?= $d_date ?></span>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */ echo __('Billing Address') ?></span>
            </strong>
            <div class="box-content">
                <address><?php /* @escapeNotVerified */ echo $block->getFormattedAddress($_order->getBillingAddress()); ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */ echo __('Payment Method') ?></span>
            </strong>
            <div class="box-content">
                <?php echo $block->getPaymentInfoHtml() ?>
            </div>
        </div>
    </div>
</div>
