<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Adminhtml\Request\Edit\Chat $block */?>
<form id="exto_rma_chat_container" data-url="<?php echo $block->getActionUrl(); ?>">
    <input name="form_key" type="hidden" value="<?php echo $block->getFormKey(); ?>">
    <div class="field">
        <div class="control">
            <textarea id="exto_rma_chat_message" name="content" rows="5"
                      placeholder="<?php echo __('Type here to add an answer'); ?>" class="required-entry"></textarea>
        </div>
    </div>
    <div class="actions">
        <div class="exto_rma_chat_quick_response-wrapper">
            <select>
                <?php foreach ($block->getQuickResponseList() as $option):?>
                    <option value="<?php echo $option['value']; ?>"><?php echo $option['label']; ?></option>
                <?php endforeach; ?>
            </select>
            <script type="text/javascript">
                require([
                    'jquery'
                ], function ($) {
                    window.exto_rma = window.exto_rma||{};
                    window.exto_rma.quickResponseAction = <?php echo $block->getQuickResponseAction(); ?>;
                    window.exto_rma.quickResponseData = <?php echo $block->getQuickResponseData(); ?>;
                });
            </script>
        </div>
        <div style="float:right">
            <div class="exto_rma_chat_file_upload-wrapper">
                <label for="exto_rma_chat_file_upload-input">
                    <span><?php echo __('Attach file'); ?></span>
                </label>
                <div class="exto_rma_chat_file_upload-file_info">
                    <span class="exto_rma_chat_file_upload-file_info-name"></span>
                    <span class="exto_rma_chat_file_upload-file_info-remove"></span>
                </div>
                <input type="file" name="file" id="exto_rma_chat_file_upload-input">
            </div>
            <button type="submit" class="action primary post-reply">
                <span><?php echo __('Post message'); ?></span>
            </button>
        </div>
    </div>
</form>
<ul class="exto_rma_chat_thread">
    <?php foreach ($block->getMessagesList() as $message): ?>
        <li class="<?php echo $message->isAdmin() ? 'admin' : 'customer'; ?>">
            <h4>
                <?php echo $block->escapeHtml($message->getAuthorName()); ?>
                <span class="exto-rma_message-date">
                    <?php echo $block->formatDate($message->getCreatedAt(), \IntlDateFormatter::MEDIUM, true); ?>
                </span>
            </h4>
            <div>
                <?php echo nl2br($block->escapeHtml($message->getContent())); ?>
                <span class="attachment">
                    <a href="<?php echo $block->getAttachmentUrl($message->getAttachment()); ?>">
                        <?php echo $block->escapeHtml($message->getAttachment()->getName()); ?>
                    </a>
                </span>
                <span class="corner"></span>
            </div>
        </li>
    <?php endforeach; ?>
</ul>