<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Adminhtml\Request\Edit\Form $block */?>
<?php echo $block->getTabsHtml() ?>
<div id="request_tab_content"></div>
<div id="exto_rma_internal_chat">
    <form id="exto_rma_internal_chat-container" data-url="<?php echo $block->getActionUrl(); ?>">
        <input name="form_key" type="hidden" value="<?php echo $block->getFormKey(); ?>">
        <textarea id="exto_rma_internal_chat-message" name="content" rows="5"
              placeholder="<?php echo __('Type here to add an internal note'); ?>" class="required-entry"></textarea>
        <div class="actions">
            <button type="submit" class="action primary post-reply">
                <span><?php echo __('Submit internal note'); ?></span>
            </button>
        </div>
    </form>
    <ul id="exto_rma_internal_chat-thread">
        <?php foreach ($block->getMessagesList() as $message): ?>
            <li>
                <h4>
                    <?php echo $block->escapeHtml($message->getAuthorName()); ?>
                    <span class="exto-rma_message-date">
                    <?php echo $block->formatDate($message->getCreatedAt(), \IntlDateFormatter::MEDIUM, true); ?>
                </span>
                </h4>
                <div>
                    <?php echo nl2br($block->escapeHtml($message->getContent())); ?>
                    <span class="corner"></span>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
