tr.exto-rma-order-item{
    display: none;
}
tr.exto-rma-order-item td{
    height: 45px;
}
tr.exto-rma-order-item td div.mage-error{
    position: absolute;
    margin: 0;
    padding: 0;
}
tr.exto-rma-order-item input[type="text"]{
    width: 50px;
}
.exto-rma-step-two{
    display: none;
}
.exto-rma-item-list ul{
    padding: 0;
}
.exto-rma-item-list ul li{
    list-style: none;
}
#exto_rma_file_upload-input{
    visibility: hidden;
    position: absolute;
}
.exto_rma_file_upload-wrapper{
    display: inline-block;;
}
.exto_rma_file_upload-wrapper label{
    color: #006bb4;
}
.exto_rma_file_upload-wrapper label:hover{
    text-decoration: underline;
    cursor: pointer;
}
.exto_rma_file_upload-file_info{
    display: none;
}
.exto_rma_file_upload-file_info-remove{
    font-family: 'luma-icons';
    cursor: pointer;
}
.exto_rma_file_upload-file_info-remove:before{
    content: '\e616';
    color: #333;
    font-size: 1.4rem;
}
.exto-rma-overlay{
    position: fixed;
    z-index: 100;
    opacity: .30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.exto-rma-popup{
    position: fixed;
    border: 1px #999999 solid;
    padding: 10px;
    background-color: #ffffff;
    z-index: 200;
    overflow: auto;
    height: 90%;
    width: 600px;
    top: 3%;
    left: calc((50%) - 300px);
}