.exto-rma-customer-action{
    float: right;
    position: relative;
    top: -35px;
}
.box .field{
    padding: 7px 0 7px 0;
}
.box .field .field-label, .box .field .field-value{
    display: inline-block;
    vertical-align: top;
}
.box .field .field-label{
    width: 29%;
}
.box .field .field-value{
    width: 69%;
}
.box .field .field-value{
    font-weight: bold;
}
#exto_rma_file_upload-input{
    visibility: hidden;
    position: absolute;
}
.exto_rma_file_upload-wrapper{
    display: inline-block;;
}
.exto_rma_file_upload-wrapper label{
    color: #006bb4;
}
.exto_rma_file_upload-wrapper label:hover{
    text-decoration: underline;
    cursor: pointer;
}
.exto_rma_file_upload-file_info{
    display: none;
}
.exto_rma_file_upload-file_info-remove{
    font-family: 'luma-icons';
    cursor: pointer;
}
.exto_rma_file_upload-file_info-remove:before{
    content: '\e616';
    color: #333;
    font-size: 1.4rem;
}
button.action.primary.save{
    float: right;
}

.exto_rma_chat_thread{
    margin-top: 40px;
    padding: 0;
}
.exto_rma_chat_thread li{
    display: block;
    width: 90%;
    margin-bottom: 15px;
    padding: 15px;
}
.exto_rma_chat_thread li.admin{
    background: #e7f1fe;
    margin-left: calc( 10% - 30px );
}
.exto_rma_chat_thread li.customer{
    background: #edf5ea;
}
.exto_rma_chat_thread li span.attachment{
    width: 100%;
    display: block;
    text-align: right;
}
.exto-rma-print-packaging-slip{
    float: right;
}
.box > .field.required > .field-label:after{
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}