<?php /** @var \Exto\Rma\Block\Guest\Form $block */ ?>
<div class="block block-guest-login">
    <div class="block-title">
        <strong id="block-exto-guest-login" aria-level="2"><?php echo __('Guest Login') ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-exto-guest-login-heading">
        <form class="form form-login"
              action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
              method="post"
              id="exto-guest-login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login" data-hasrequired="<?php echo __('* Required Fields') ?>">
                <div class="field email required">
                    <label class="label" for="guest_email"><span><?php echo __('Email') ?></span></label>
                    <div class="control">
                        <input name="login[email]" id="guest_email" type="email" class="input-text" title="<?php echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field order required">
                    <label for="guest_order" class="label"><span><?php echo __('Order #') ?></span></label>
                    <div class="control">
                        <input name="login[order]" id="guest_order" type="text" class="input-text" title="<?php echo __('Order #') ?>" data-validate="{required:true}">
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php /* @escapeNotVerified */ echo __('Login') ?></span></button></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
