<label class="label">Estimated time of arrival</label>
<div class="control">
  <select name="delivery_date" id="delivery_date">
    <option value="9:00-12:00">9:00-12:00</option>
    <option value="12:00-17:00">12:00-17:00</option>	
</select>
</div>