<?php
/**
 * Solwin Infotech
 * Solwin Request For Quote Extension
 * 
 * @category   Solwin
 * @package    Solwin_Ourquote
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/  End-user License Agreement
 */
$helper = $this->helper('Solwin\Ourquote\Helper\Data');
$quoteId = $this->getRequest()->getParam('id');
if (isset($quoteId)) {
    $collection = $this->getSingleQuoteCollection($quoteId);
    $productId = $collection->getProductId();
    $productHtml = '';
    if ($productId != 0) {
        $productSku = $helper->getProductSku($productId);
        $productUrl = $helper->getProdUrl($productId);
        $productHtml = '<a target="_blank"href="' . $productUrl . '">' . $productSku . '</a>';
    }
    $mediaUrl = $helper->getMediaUrl();
    $uploadFile = $collection->getUploaddoc();
    $fileUrl = $mediaUrl .'ourquote'. $uploadFile;
    $statusValue = $collection->getChangeStatus();
    $statusLabel = $helper->getChangeStatusLabel($statusValue);
    ?>
    <table class="data table table-quote-items history" id="my-quotes-table">
        <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Quotes') ?></caption>
        <tr>
            <th>Project Title:</th>
            <td><?php echo $collection->getProjectTitle() ?></td>
        </tr>
        <tr>
            <th>Product SkU:</th>
            <td><?php echo $productHtml ?></td>
        </tr>
        <tr>
            <th>Contact Name:</th>
            <td><?php echo $collection->getContactName() ?></td>
        </tr>
        <tr>
            <th>Company:</th>
            <td><?php echo $collection->getCompany() ?></td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td><?php echo $collection->getPhone() ?></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><?php echo $collection->getEmail() ?></td>
        </tr>
        <tr>
            <th>Quote Requested On:</th>
            <td><?php echo $block->formatDate($collection->getCreatedAt()) ?></td>
        </tr>
        <tr>
            <th>Quote Needed on:</th>
            <td><?php echo $block->formatDate($collection->getDate()) ?></td>
        </tr>
        <?php if ($uploadFile != ''): ?>
            <tr>
                <th>Uploaded File :</th>
                <td><a target="_blank" href="<?php echo $fileUrl?>"><?php echo $uploadFile?></a></td>
            </tr>
        <?php endif; ?>
        <tr>
            <th>Budget Status:</th>
            <td><?php echo $collection->getBudgetStatus() ?></td>
        </tr>
        <tr>
            <th>Overview:</th>
            <td><?php echo $collection->getOverview() ?></td>
        </tr>
        <tr>
            <th>Status:</th>
            <td><?php echo $statusLabel ?></td>
        </tr>

    </table>

    <div class="back-btn">
            <a style="margin-top: 20px;margin-bottom: 20px;" class="action primary" href="<?php echo $this->getUrl('ourquote/quote'); ?>" title="Back">
                <?php echo __('Back'); ?>	
            </a>
        </div>
    <?php
} else {

    $custId = $this->getCustomer()->getId();
    $quoteCollection = $this->getQuoteData($custId);
    $size = $quoteCollection->getSize();
    
    ?>
    <?php if ($size > 0): ?>
        <div class="table-wrapper quote-history">
            <table class="data table table-quote-items history" id="my-quotes-table">
                <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Quotes') ?></caption>
                <thead>
                    <tr>
                        <th scope="col" class="col"><?php /* @escapeNotVerified */ echo __('Project Title') ?></th>
                        <th scope="col" class="col"><?php /* @escapeNotVerified */ echo __('Quote Requested on') ?></th>
                        <th scope="col" class="col"><?php /* @escapeNotVerified */ echo __('Quote Nedded on') ?></th>
                        <th scope="col" class="col"><?php /* @escapeNotVerified */ echo __('Product SKU') ?></th>
                        <th scope="col" class="col"><?php /* @escapeNotVerified */ echo __('Status') ?></th>
                        <th scope="col" class="col actions">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($quoteCollection as $_quote):

                        $productId = $_quote->getProductId();
                        $productHtml = '';
                        if ($productId != 0) {
                            $productSku = $helper->getProductSku($productId);
                            $productUrl = $helper->getProdUrl($productId);
                            $productHtml = '<a target="_blank"href="' . $productUrl . '">' . $productSku . '</a>';
                        }
                        $statusValue = $_quote->getChangeStatus();
                        $statusLabel = $helper->getChangeStatusLabel($statusValue);
                        ?>
                        <tr>
                            <td data-th="<?php echo $block->escapeHtml(__('Project Title')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_quote->getProjectTitle() ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Quote Requested on')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_quote->getCreatedAt()) ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Quote Needed on')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_quote->getDate()) ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Product SKU')) ?>" class="col shipping"><?php echo $productHtml ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col total"><?php /* @escapeNotVerified */ echo $statusLabel ?></td>
                            <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                <a href="<?php /* @escapeNotVerified */ echo $this->getUrl('ourquote/quote/index', ['id' => $_quote->getQuoteId()]) ?>" class="action view">
                                    <span><?php /* @escapeNotVerified */ echo __('View') ?></span>
                                </a>

                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>

    <?php else: ?>
        <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no quotes.'); ?></span></div>
    <?php endif ?>
<?php } ?>