<div id="div_shippartno" data-bind="visible: shippartno">
    <strong data-bind="text: 'Ship PartNo.'"></strong>
    <span class="shippartno" data-bind="text: shippartno"></span>
</div>
<div id="div_delivery_date" data-bind="visible: delivery_date">
    <strong data-bind="text: 'Delivery Date'"></strong>
    <span class="delivery_date" data-bind="text: delivery_date"></span>
</div>
<div id="div_date_of_arrival" data-bind="visible: date_of_arrival">
    <strong data-bind="text: 'Date Of Arrival'"></strong><br/>
    <span class="delivery_date"><input type="text" class="input-text admin__control-text dateofarrival"
                                       name="date_of_arrival" data-bind="disable: order_status,value: date_of_arrival,calendar: true"/></span>
</div>
<div id="div_est-of-time" data-bind="visible: time_of_arrival">
    <strong data-bind="text: 'Estimated time of arrival'"></strong><br/>
    <span class="time_arrival">
            <select name="time_of_arrival" data-bind="
                    disable: order_status,
                    attr: {id: 'time_of_arrival'},
                    options: time_of_arrivals,
                    value: time_of_arrival,
                    optionsValue: 'name',
                    optionsText: 'name'," class="admin__control-select">
            </select>
    </span>
</div>
<div id="div_deadlinerma" data-bind="visible: deadline_rma,disable: order_status">
    <strong data-bind="text: 'Deadline RMA.'"></strong>
    <input type="hidden" class="input-text admin__control-text" name="deadline_rma" data-bind="value: deadline_rma"/>
    <span class="deadlinerma" class="admin__field-label" data-bind="text: deadline_rma"></span>
</div>

<br/>
<div class="admin__field-option">
    <input class="admin__control-checkbox" type="checkbox" data-bind="attr:{id: 'notify'},checked: isnotify"/>
    <label class="admin__field-label" data-bind="attr:{for: 'notify'},text: 'Notify Customer by Email'"/>
</div>
<br/>
<div class="admin__field-option">
    <input class="admin__control-checkbox" type="checkbox" data-bind="attr:{id: 'visibleinfront'},checked:isvisible"/>
    <label class="admin__field-label" data-bind="attr:{for: 'visibleinfront'},text: 'Visible on Storefront'"/>
</div>
<br/>
<br/>
<div class="submit">
    <button type="button" data-bind="click: function(){submit()},disable: !canSave()"
            class="action-default scalable action-save action-secondary">
        <span data-bind="i18n: 'Submit Change'"></span>
    </button>
</div>