<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Customer\Add\Form $block */ ?>
<fieldset class="fieldset">
    <div class="field required">
        <label class="label" for="reason_id"><span><?php echo __('Return reason') ?></span></label>
        <div class="control">
            <select id="reason_id" name="reason_id" title="<?php echo __('Return reason') ?>" class="validate-select">
                <?php foreach($block->getReasonOptions() as $option):?>
                    <option value="<?php echo $option['value']; ?>"><?php echo $option['label']; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <div class="field required">
        <label class="label" for="package_condition_id"><span><?php echo __('Package condition') ?></span></label>
        <div class="control">
            <select id="package_condition_id" name="package_condition_id" title="<?php echo __('Package condition') ?>" class="validate-select">
                <?php foreach($block->getPackageOptions() as $option):?>
                    <option value="<?php echo $option['value']; ?>"><?php echo $option['label']; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <div class="field required">
        <label class="label" for="resolution_id"><span><?php echo __('Desired resolution') ?></span></label>
        <div class="control">
            <select id="resolution_id" name="resolution_id" title="<?php echo __('Desired resolution') ?>" class="validate-select">
                <?php foreach($block->getResolutionOptions() as $option):?>
                    <option value="<?php echo $option['value']; ?>"><?php echo $option['label']; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <?php foreach ($block->getCustomFieldList() as $customField): ?>
    <div class="field <?php echo ($customField['is_required']) ? 'required' : ''; ?>">
        <label class="label" for="custom_field_<?php echo $customField['id']; ?>">
            <span><?php echo $customField['name']; ?></span>
        </label>
        <div class="control">
            <?php switch ($customField['type_id']):
                case \Exto\Rma\Model\Source\Field\Type::CHECKBOX_VALUE: ?>
                    <input type="checkbox" name="custom_field[<?php echo $customField['id']; ?>]"
                           id="custom_field_<?php echo $customField['id']; ?>" value="1"
                           <?php echo ($customField['is_required']) ? 'class="checkbox required"' : ''; ?>
                    />
                    <?php break; ?>
                <?php case \Exto\Rma\Model\Source\Field\Type::DROPDOWN_VALUE: ?>
                    <select id="custom_field_<?php echo $customField['id']; ?>"
                            name="custom_field[<?php echo $customField['id']; ?>]"
                            title="<?php echo $customField['name']; ?>">
                        <?php foreach($customField['options'] as $value=>$label):?>
                            <option value="<?php echo $value; ?>"><?php echo $label; ?></option>
                        <?php endforeach; ?>
                    </select>
                    <?php break; ?>
                <?php case \Exto\Rma\Model\Source\Field\Type::TEXT_VALUE: ?>
                    <input type="text" name="custom_field[<?php echo $customField['id']; ?>]"
                           id="custom_field_<?php echo $customField['id']; ?>"
                        <?php echo ($customField['is_required']) ? 'class="required-entry"' : ''; ?>
                        />
                    <?php break; ?>
                <?php case \Exto\Rma\Model\Source\Field\Type::TEXTAREA_VALUE: ?>
                    <textarea name="custom_field[<?php echo $customField['id']; ?>]"
                              id="custom_field_<?php echo $customField['id']; ?>"
                              <?php echo ($customField['is_required']) ? 'class="required-entry"' : ''; ?>
                              cols="5" rows="3"></textarea>
                    <?php break; ?>
                <?php case \Exto\Rma\Model\Source\Field\Type::DATE_VALUE: ?>
                    <?php echo $block->getDateInput($customField); ?>
                    <?php break; ?>
            <?php endswitch; ?>
        </div>
    </div>
    <?php endforeach; ?>
    <div class="field">
        <label for="message" class="label"><span><?php echo __('Message') ?></span></label>
        <div class="control">
            <textarea name="message" id="message" cols="5" rows="3"></textarea>
            <div class="exto_rma_file_upload-wrapper">
                <label for="exto_rma_file_upload-input">
                    <span><?php echo __('Attach file'); ?></span>
                </label>
                <div class="exto_rma_file_upload-file_info">
                    <span class="exto_rma_file_upload-file_info-name"></span>
                    <span class="exto_rma_file_upload-file_info-remove"></span>
                </div>
                <input type="file" name="file" id="exto_rma_file_upload-input">
            </div>
        </div>
    </div>
    <?php if ($block->getPolicyCMSBlockName()): ?>
    <div class="field policy required">
        <input type="checkbox" id="policy" name="policy" value="1" class="checkbox required">
        <label class="label" for="policy">
            <span><?php echo __('I accept the') ?></span>
            <a href="#"><?php echo $block->getPolicyCMSBlockName(); ?></a>
        </label>
    </div>
    <?php endif; ?>
</fieldset>
<div class="actions-toolbar">
    <div class="primary">
        <button type="submit" class="action save primary" title="<?php echo __('Save Address') ?>">
            <span><?php echo __('Submit') ?></span>
        </button>
    </div>
</div>
<script type="text/javascript">
    window.extoRmaPolicyBlockContent = <?php echo \Zend_Json::encode($block->getPolicyCMSBlockContent()); ?>;
</script>