<!--@subject Request For Quote@-->

{{template config_path="design/email/header_template"}}
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <h3>A new RFQ has been submitted with the following details.</h3>
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">Name:</td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.contact_name}}</td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">E-mail: </td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.email}}</td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">Company Name:  </td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;">  {{var data.company}}</td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">Telephone: </td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;"> {{var data.phone}}</td>
                    </tr>
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">Project Title:</td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;"> {{var data.project_title}}</td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">Quote Needed By:</td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;"> {{var data.date}}</td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">Project Budget Status:  </td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;">
                            {{var data.budget_status}}
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;vertical-align:top;width:30%;font-weight:bold;">Overview:</td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;">
                            {{var data.overview}}
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;">&nbsp;</td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;">&nbsp;</td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">Regards, {{var data.contact_name}}</td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{{template config_path="design/email/footer_template"}}