<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Customer\PrintBlock\Content $block */ ?>
<div class="block">
    <div class="block-content">
        <div class="box">
            <strong class="box-title"><span><?php echo __('Return Address'); ?></span></strong>
            <div class="box-content">
                <address><?php echo nl2br($block->getReturnAddressHtml()); ?></address>
            </div>
        </div>
        <div class="box">
            <strong class="box-title">
                <span><?php echo __('Customer Information'); ?></span>
            </strong>
            <div class="box-content"><?php echo nl2br($block->getCustomerInformationHtml()); ?></div>
        </div>
    </div>
</div>
<div class="block">
    <div>
        <strong class="box-title"><span><?php echo __('Items'); ?></span></strong>
        <div class="box-content">
            <table class="data table">
                <tbody>
                <?php foreach($block->getItemList() as $item): ?>
                <tr>
                    <td><?php echo $item['product']; ?></td>
                    <td><?php echo $item['sku']; ?></td>
                    <td><?php echo __('Qty: %1', $item['qty']); ?></td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>