<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Customer\PrintBlock\Title $block */ ?>
<div>
    <?php echo __('Creation date: %1', $block->getCreatedDate()); ?>
</div>
<div>
    <?php echo __('Order #%1 placed at %2', $block->getOrderIncrementId(), $block->getOrderCreatedAt()); ?>
</div>
<div>
    <?php echo nl2br($block->getCustomFieldHtml()); ?>
</div>