<?php // @codingStandardsIgnoreFile ?>
<div class="entry-edit form-inline">
    <fieldset class="fieldset admin__fieldset " id="request_base_fieldset">
        <legend class="admin__legend legend">
            <span><?php echo $block->getTabTitle(); ?></span>
        </legend>
        <table class="admin__control-table tiers_table" id="tiers_table">
            <thead>
            <tr>
                <th><?php echo __('Select Items'); ?></th>
                <th><?php echo __('Product'); ?></th>
                <th><?php echo __('Items Qty'); ?></th>
                <th><?php echo __('Available Qty'); ?></th>
            </tr>
            </thead>
            <tbody>
                <?php foreach ($this->getOrderItems() as $item): ?>
                <tr>
                    <td><input type="checkbox" name="order_item[<?php echo $item['id']; ?>][selected]"
                               <?php if ($item['is_selected']):?>checked="checked"<?php endif; ?>/></td>
                    <td><a href="<?php echo $item['product_url']; ?>"><?php echo $item['product_name']; ?></a></td>
                    <td>
                        <input type="text" name="order_item[<?php echo $item['id']; ?>][qty]"
                               value="<?php echo $item['qty_value']; ?>"/>
                    </td>
                    <td><?php echo __('of available %1', $item['qty']); ?></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </fieldset>
</div>