<div class="payment-option _collapsible opc-payment-additional partial-code"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Installment'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form form-partial" id="partial-form" data-bind="afterRender: bindClick">
            <div class="payment-option-inner">
                <input type="radio"  name="payment[partial]" class="radio" checked value="0" id="partial_0"/>
                <label class="label" data-bind="i18n: 'None',attr: {for: 'partial_0'}"></label>
            </div>

            <!-- ko foreach: { data: partials, as: 'element' } -->
            <div class="payment-option-inner">
                <input type="radio"  name="payment[partial]" class="radio"
                       data-bind="
                                    attr: {id: 'partial_' + element.num},
                                    value: element.num,
                                    checked: element.isChecked"/>
                <label class="label" data-bind="text:  element.label,attr: {for: 'partial_' + element.num}"></label>
            </div>
            <!--/ko-->
        </form>
    </div>
</div>
