/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */

.exto-base-subscribe {
    width: 70%;
    margin: auto;
    padding: 20px 0;
}

.exto-base-subscribe .message {
    width: 67%;
    float: left;
}

.exto-base-subscribe .exto-base-subscribe-field {
    margin-top: 2.2rem;
}

.exto-base-subscribe div label {
    width: 33%;
    float: left;
    font-weight: 600;
    padding-right: 30px;
    text-align: right;
    font-size: 14px;
    color: #303030;
    padding-top: 7px;
}

.exto-base-subscribe div div.exto-base-subscribe-control {
    width: 67%;
    float: left;
}

.exto-base-subscribe div div.exto-base-subscribe-control select.multiselect {
    width: 100%;
    height: auto;
}

.exto-base-subscribe div div.exto-base-subscribe-control select {
    width: 100%;
    height: 33px;
}

.exto-base-subscribe p.note {
    font-size: 12px;
    margin: 5px 0;
}
