<?php // @codingStandardsIgnoreFile ?>
<button id="rma_add_new_option" title="Add Option" type="button" class="action- scalable add">
    <span><?php echo __('Add Option') ?></span>
</button>

<script id="row-template" type="text/x-magento-template">
    <fieldset class="fieldset admin__fieldset " id="<%- data.code %>_option_fieldset_<%- data.option_count %>">
        <div class="admin__field field required _required" data-ui-id="exto-rma-reason-edit-form-fieldset-element-form-field-name-<%- data.option_count %>">
            <label class="label admin__field-label" for="<%- data.code %>_name_<%- data.option_count %>" data-ui-id="exto-rma-<%- data.code %>-edit-form-fieldset-element-text-<%- data.name %>-<%- data.option_count %>-name-label"><span>Name</span></label>
            <div class="admin__field-control control">
                <input id="<%- data.code %>_name_<%- data.option_count %>" name="<%- data.name %>[<%- data.option_count %>][name]" data-ui-id="exto-rma-reason-edit-form-fieldset-element-text-<%- data.name %>-<%- data.option_count %>-name" value="" title="Name" type="text" class=" input-text admin__control-text required-entry _required" aria-required="true">
            </div>
        </div>
        <div class="admin__field field field-option ">
            <label class="label admin__field-label">
                <span><?php echo __('Title') ?></span>
            </label>
            <table class="admin__control-table admin__field-control control">
                <tbody>
                <?php foreach ($block->getStores() as $store): ?>
                    <tr>
                        <td class="admin__field-label"><?php echo $store->getName() ?></td>
                        <td class="col-store-view">
                            <input class="input-text" type="text" name="<%- data.content_name %>[<?php echo $store->getId() ?>]" value=""/>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <div class="admin__field field" data-ui-id="exto-rma-<%- data.code %>-edit-form-fieldset-element-form-field-sort-order-<%- data.option_count %>">
            <label class="label admin__field-label" for="<%- data.code %>_sort_order_<%- data.option_count %>" data-ui-id="exto-rma-<%- data.code %>-edit-form-fieldset-element-text-<%- data.name %>-<%- data.option_count %>-sort-order-label"><span><?php echo __('Sort Order') ?></span></label>
            <div class="admin__field-control control">
                <input id="<%- data.code %>_sort_order_<%- data.option_count %>" name="<%- data.name %>[<%- data.option_count %>][sort_order]" data-ui-id="exto-rma-<%- data.code %>-edit-form-fieldset-element-text-<%- data.name %>-<%- data.option_count %>-sort-order" value="" title="<?php echo __('Sort Order') ?>" class="validate-zero-or-greater validate-number validate-digits input-text admin__control-text" type="text">                            </div>
        </div>
        <div class="admin__field field with-addon" data-ui-id="exto-rma-<%- data.code %>-edit-form-fieldset-element-form-field-remove-option-<%- data.option_count %>">
            <label class="label admin__field-label" for="<%- data.code %>_remove_option_<%- data.option_count %>" data-ui-id="exto-rma-<%- data.code %>-edit-form-fieldset-element-label-remove-option-<%- data.option_count %>-label"><span></span></label>
            <div class="admin__field-control control">
                <div class="admin__field"><div class="control-value"></div>
                    <button title="Delete" type="button" class="action- scalable delete delete-option remove-row-button">
                        <span><?php echo __('Delete') ?></span>
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</script>

<script>
require([
    'jquery',
    'mage/template',
    'prototype'
], function(jQuery, mageTemplate){
    var contentTemplateRow = jQuery('#row-template').html();


    var rmaOptionRenderer = {
        templateRow : contentTemplateRow,
        itemsCount : <?php echo $this->getOptionCount() ?>,
        removeButtonSelector : '.remove-row-button',
        addButtonSelector : '#rma_add_new_option',

        initObserver : function() {
            var me = this;
            jQuery(this.addButtonSelector).click(function(){
                me.addRow();
            });

            jQuery(this.removeButtonSelector).click(function(){
                var element = jQuery(this).parent().parent().parent().parent();
                me.removeRow(element);
            });
        },

        addRow : function () {
            var data = {};
            data.option_count = ++this.itemsCount;
            data.code = '<?php echo $this->getFormCode() ?>';
            data.name = '<?php echo $this->getFieldName() ?>';
            var contentName = '<?php echo $this->getFieldContentName() ?>';

            data.content_name = contentName.replace('replacement_id', data.option_count);

            var optionSelector = '#'+data.code+'_add_option_fieldset';

            this.template = mageTemplate(this.templateRow);
            var escapedHTML = this.template({
                data: data
            });
            jQuery(optionSelector).before(escapedHTML);

            var me = this;
            jQuery(this.removeButtonSelector).click(function(){
                var element = jQuery(this).parent().parent().parent().parent();
                me.removeRow(element);
            });
        },

        removeRow : function (element) {
            jQuery(element).remove();
        }
    };
    rmaOptionRenderer.initObserver();
});
</script>
