<?php // @codingStandardsIgnoreFile ?>
<button title="<?php echo __('Delete') ?>" type="button" class="action- scalable delete delete-option remove-row-button">
    <span><?php echo __('Delete') ?></span>
</button>
