<div id="my-carrier-custom-block-wrapper" data-bind="visible: selectedMethod() == 'mpcustomshipping_mpcustomshipping'">
    <label class="label">Estimated time of arrival</label>
    <div class="control">
        <select name="delivery_date" id="delivery_date" data-bind="disabled: selectedMethod() != 'mpcustomshipping_mpcustomshipping'">
            <option repeat="foreach: time_of_arrival, item: '$option'"  data-bind="text: $option().name,value: $option().name,"></option>
        </select>
    </div>
</div>