<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Customer\Add $block */ ?>
<?php if ($block->hasOrders()): ?>
<form id="exto-rma-add" action="<?php echo $block->getSubmitUrl(); ?>" method="post" enctype="multipart/form-data">
<div class="exto-rma-step-one">
    <div class="block-title">
        <strong><?php echo __('Select an order'); ?></strong>
    </div>
    <div class="table-wrapper">
        <table class="data table" id="exto-rma-order-table">
            <caption class="table-caption"><?php echo __('Select an order') ?></caption>
            <tbody>
            <?php foreach ($block->getOrderList() as $order): ?>
                <?php /** @var \Magento\Sales\Model\Order $order */ ?>
                <tr data-order-id="<?php echo $order->getId(); ?>" class="exto-rma-order">
                    <td>
                        <input type="radio" name="order_id" value="<?php echo $order->getId(); ?>"/>
                    </td>
                    <td class="exto-rma-increment-id">
                        <a href="<?php echo $block->getUrlToOrder($order); ?>">#<?php echo $order->getIncrementId(); ?></a>
                    </td>
                    <td>
                        <?php echo $block->dateFormat($order->getCreatedAt()); ?>
                    </td>
                    <td>
                        <?php echo $block->getQtyLabel($order); ?>
                    </td>
                    <td>
                        <?php echo $block->formatCurrency($order->getBaseGrandTotal()); ?>
                    </td>
                </tr>
                <?php foreach ($block->getItemCollection($order) as $item): ?>
                <?php $qty = $block->getAvailableQty($item); ?>
                <?php if($qty > 0) :?>
                <tr data-parent-order-id="<?php echo $order->getId(); ?>" class="exto-rma-order-item">
                    <td></td>
                    <td colspan="3" class="exto-rma-order-item-product">
                        <input type="checkbox" name="item_id[]" value="<?php echo $item->getId(); ?>" disabled/>
                        <?php if ($block->getProductUrl($item)): ?>
                            <a href="<?php echo $block->getProductUrl($item); ?>">
                                <?php echo $block->getProductName($item); ?>
                            </a>
                        <?php else: ?>
                            <?php echo $block->getProductName($item); ?>
                        <?php endif; ?>
                    </td>
                    <td>
                        <?php echo __('Items'); ?>
                        <input type="text" name="qty[<?php echo $item->getId(); ?>]"
                               class="validate-digits validate-digits-range digits-range-1-<?php echo $qty; ?>"
                               value="<?php echo $qty; ?>" disabled/>
                        <label for="qty[<?php echo $item->getId(); ?>]" class="error"></label>
                        <?php echo __('of %1 available', $block->getAvailableQty($item)); ?>
                        <?php if ($block->getAvailableQty($item) == 1):?>
                            <input type="hidden" name="qty[<?php echo $item->getId(); ?>]" value="1"/>
                        <?php endif; ?>
                    </td>
                </tr>
                <?php endif; ?>
                <?php endforeach; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <button title="<?php echo __('Next step'); ?>" class="action primary next" disabled="disabled">
        <span><?php echo __('Next step'); ?></span>
    </button>
</div>
<div class="exto-rma-step-two">
    <div class="block-title">
        <strong><?php echo __('New return for order'); ?><span></span></strong>
    </div>
    <button title="<?php echo __('Back'); ?>" class="action secondary back">
        <span><?php echo __('Back'); ?></span>
    </button><br/><br/>
    <div class="exto-rma-item-list">
        <?php echo __('You are returning the following items:'); ?>
        <ul></ul>
    </div>
    <?php echo $block->getChildHtml('form'); ?>
</div>
<script type="text/javascript">
require(['extoRmaCustomerAdd'], function ($) {
    window.extoRmaOrderItemInfoTmpl = "<li>" +
    "{{product}} " + "<?php echo __('Qty'); ?> " + "{{qty}}" +
    "</li>";
});
</script>
</form>
<script type="text/x-magento-init">
    {
        "#exto-rma-add": {
            "validation": {}
        }
    }
</script>
<?php else: ?>
    <div class="message info empty"><span><?php echo __('You have no orders which can be returned.') ?></span></div>
<?php endif; ?>