<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Customer\RequestList $block */ ?>
<?php if ($block->hasItems()): ?>
    <div class="table-wrapper">
        <table class="data table" id="exto-rma-table">
            <caption class="table-caption"><?php echo __('My Returns') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col"><?php echo __('Return #') ?></th>
                    <th scope="col" class="col"><?php echo __('Order #') ?></th>
                    <th scope="col" class="col"><?php echo __('Item(s)') ?></th>
                    <th scope="col" class="col"><?php echo __('Status') ?></th>
                    <th scope="col" class="col"><?php echo __('Updated') ?></th>
                    <th scope="col" class="col"><?php echo __('Created') ?></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($block->getItems() as $request): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('Return #')) ?>" class="col">
                        <a href="<?php echo $block->getReturnUrl($request); ?>">
                            #<?php echo $request->getIncrementId(); ?>
                        </a>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col">
                        <a href="<?php echo $block->getOrderUrl($request); ?>" target="_blank">
                            #<?php echo $request->getOrderIncrementId(); ?>
                        </a>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Item(s)')) ?>" class="col">
                        <?php foreach($block->getItemCollection($request) as $item): ?>
                        <a href="<?php echo $block->getProductUrlToItem($item); ?>" target="_blank">
                            <?php echo $item->getProductName(); ?>
                        </a><br/>
                        <?php endforeach; ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col">
                        <?php echo $block->getStatusLabel($request); ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Updated')) ?>" class="col">
                        <?php echo $block->dateFormat($request->getUpdatedAt()); ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Created')) ?>" class="col">
                        <?php echo $block->dateFormat($request->getCreatedAt()); ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getToolbarHtml()): ?>
        <div class="toolbar bottom">
            <?php echo $block->getToolbarHtml() ?>
        </div>
    <?php endif; ?>
<?php else: ?>
    <div class="message info empty"><span><?php echo __('You have no items in your return list.') ?></span></div>
<?php endif ?>
<?php if ($block->isCanDisplayActionButton()): ?>
<div class="actions-toolbar">
    <div class="primary">
        <a class="action add primary" href="<?php echo $block->getUrlToAddNewRMA(); ?>">
            <span><?php echo __('Request Return'); ?></span>
        </a>
    </div>
</div>
<?php endif; ?>