<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Customer\View $block */ ?>
<?php if ($block->isCustomerActionNeeded()): ?>
<a class="action exto-rma-customer-action primary" data-url="<?php echo $block->getCustomerActionUrl(); ?>"
   <?php if ($block->getCustomActionConfirmationText()): ?>data-confirm="<?php echo $block->getCustomActionConfirmationText(); ?>"<?php endif; ?>>
    <span><?php echo $block->getCustomerActionLabel(); ?></span>
</a>
<?php endif; ?>
<div class="block">
    <div class="block-title"></div>
    <div class="block-content">
        <div class="box exto-rma-customer-field-box">
            <div class="field">
                <?php echo __('Order'); ?>
                <a href="<?php echo $block->getOrderUrl(); ?>">#<?php echo $block->getOrder()->getIncrementId(); ?></a>
                <?php echo __('placed on %1', $block->dateFormat($block->getOrder()->getCreatedAt())); ?>
            </div>
            <div class="field">
                <div class="field-label"><?php echo __('Reason'); ?></div>
                <div class="field-value"><?php echo $block->getReasonLabel(); ?></div>
            </div>
            <div class="field">
                <div class="field-label"><?php echo __('Package'); ?></div>
                <div class="field-value"><?php echo $block->getPackageLabel(); ?></div>
            </div>
            <div class="field">
                <div class="field-label"><?php echo __('Resolution'); ?></div>
                <div class="field-value"><?php echo $block->getResolutionLabel(); ?></div>
            </div>
            <?php foreach ($block->getCustomFieldList() as $customField): ?>
                <div class="field <?php echo ($customField['is_required']) ? 'required' : ''; ?>">
                    <div class="field-label"><?php echo $customField['name']; ?></div>
                    <div class="field-value">
                        <?php if (!$customField['is_editable']): ?>
                            <?php echo $customField['value_as_text']; ?>
                        <?php else: ?>
                        <?php switch ($customField['type_id']):
                            case \Exto\Rma\Model\Source\Field\Type::CHECKBOX_VALUE: ?>
                                <input type="checkbox" name="custom_field[<?php echo $customField['id']; ?>]"
                                       id="custom_field_<?php echo $customField['id']; ?>" value="1"
                                    <?php echo ($customField['is_required']) ? 'class="checkbox required"' : ''; ?>
                                    <?php echo !!$customField['value_as_text'] ? 'checked' : ''; ?>
                                    />
                                <?php break; ?>
                            <?php case \Exto\Rma\Model\Source\Field\Type::DROPDOWN_VALUE: ?>
                                <select id="custom_field_<?php echo $customField['id']; ?>"
                                        name="custom_field[<?php echo $customField['id']; ?>]"
                                        title="<?php echo $customField['name']; ?>">
                                    <?php foreach($customField['options'] as $value=>$label): ?>
                                        <option value="<?php echo $value; ?>"
                                            <?php echo ($customField['value']==$value) ? 'selected' : ''; ?>>
                                            <?php echo $label; ?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                                <?php break; ?>
                            <?php case \Exto\Rma\Model\Source\Field\Type::TEXT_VALUE: ?>
                                <input type="text" name="custom_field[<?php echo $customField['id']; ?>]"
                                       id="custom_field_<?php echo $customField['id']; ?>"
                                    <?php echo ($customField['is_required']) ? 'data-validate="{required:true}"' : ''; ?>
                                       value="<?php echo $customField['value_as_text']; ?>"
                                    />
                                <?php break; ?>
                            <?php case \Exto\Rma\Model\Source\Field\Type::TEXTAREA_VALUE: ?>
                                <textarea name="custom_field[<?php echo $customField['id']; ?>]"
                                          id="custom_field_<?php echo $customField['id']; ?>"
                                    <?php echo ($customField['is_required']) ? 'data-validate="{required:true}"' : ''; ?>
                                          cols="5" rows="3"><?php echo $customField['value_as_text']; ?></textarea>
                                <?php break; ?>
                            <?php case \Exto\Rma\Model\Source\Field\Type::DATE_VALUE: ?>
                                <?php echo $block->getDateInput($customField); ?>
                                <?php break; ?>
                        <?php endswitch; ?>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endforeach; ?>
            <div class="field">
                <div class="field-label"><?php echo __('Items'); ?></div>
                <div class="field-value">
                    <?php foreach ($block->getItemCollection() as $item): ?>
                        <a href="<?php echo $block->getProductUrlForItem($item); ?>"><?php echo $item->getProductName(); ?></a>
                        <?php echo __('Qty %1', intval($item->getQty())); ?><br/>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
        <div class="box">
            <br><br>
            <address>
                <?php echo nl2br($block->getAddressText()); ?>
            </address>
        </div>
        <a href="<?php echo $block->getPackagingSlipUrl(); ?>" class="exto-rma-print-packaging-slip" target="_blank">
            <?php echo __('Print packaging slip'); ?>
        </a>
    </div>
</div>
<form action="<?php echo $block->getMessagePostUrl(); ?>" id="exto-rma-message-form" method="post"
      enctype="multipart/form-data">
    <input type="hidden" name="request_id" value="<?php echo $block->getRequest()->getId(); ?>"/>
    <textarea name="message" rows="5" data-validate="{required:true}" class="required-entry" ></textarea>
    <div class="exto_rma_file_upload-wrapper">
        <label for="exto_rma_file_upload-input">
            <span><?php echo __('Attach file'); ?></span>
        </label>
        <div class="exto_rma_file_upload-file_info">
            <span class="exto_rma_file_upload-file_info-name"></span>
            <span class="exto_rma_file_upload-file_info-remove"></span>
        </div>
        <input type="file" name="file" id="exto_rma_file_upload-input">
    </div>
    <button type="submit" class="action save primary" title="<?php echo __('Send Message') ?>">
        <span><?php echo __('Send Message') ?></span>
    </button>
</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#exto-rma-message-form');
        dataForm.mage('validation', {
            ignore: '.ignore-validate'
        });
    });
</script>
<ul class="exto_rma_chat_thread">
    <?php foreach ($block->getMessagesList() as $message): ?>
        <li class="<?php echo $message->isAdmin() ? 'admin' : 'customer'; ?>">
            <h4>
                <?php echo $block->escapeHtml($message->getAuthorName()); ?>,
                <?php echo $block->formatDate($message->getCreatedAt(), \IntlDateFormatter::MEDIUM, true); ?>
            </h4>
            <div>
                <?php echo nl2br($block->escapeHtml($message->getContent())); ?>
                <span class="attachment">
                <a href="<?php echo $block->getAttachmentUrl($message->getAttachment()); ?>">
                    <?php echo $block->escapeHtml($message->getAttachment()->getName()); ?>
                </a>
            </span>
            </div>
        </li>
    <?php endforeach; ?>
</ul>