@media (min-width: 768px) {
    .page-layout-admin-2columns-left .page-columns .main-col {
        width: calc((100%) * .40 - 30px);
    }
    .page-layout-admin-2columns-left .page-columns .side-col {
        width: calc((100%) * .60 - 30px );
    }
}
.page-columns select{
    background-color: #F7F7F7;
    border: 1px solid #E2E2E2;
    background-image: url('../../images/arrows-bg.svg') !important;
    height: 36px;
    font-size: 16px;
    color: #181817;
    padding-left: 12px;
}
.page-columns input{
    color: #181817!important;
    background-color: #F7F7F7!important;
    border: 1px solid #E2E2E2!important;
}
.page-columns button{
    padding-top: 9px;
    padding-bottom: 8px;
}
#exto_rma_request_item_list{
    border-top: 2px solid #605C58;
    margin-left: -24px;
    width: calc(100% + 48px);
}
#exto_rma_request_item_list tr:nth-child(even){
    background: #F8F8F8;
}
#exto_rma_request_item_list td{
    padding: 20px 0 19px 24px;
}
#exto_rma_request_item_list td a{
    color: #0060FF;
}
.exto_rma-underline{
    width: calc(100% + 48px);
    height: 1px;
    border-top: 1px solid #D6D6D6;
    top: -5px;
    position: relative;
    margin-left: -24px;
}
div.admin__field-label{
    margin:0!important;
    width: 50%!important;
    text-align: left!important;
}
.admin__field-control{
    width: calc( (100%) * 0.83 - 30px )!important;
}
.admin__field-control select{
    width: 100%;
}
#exto_rma_request_info_tabs_rma_content{
    padding: 30px 24px 0 24px;
}
#exto_rma_request_info_tabs_rma_content h1{
    margin: 0;
    color: #181817;
    font-size: 20px;
}
#exto_rma_request_info_tabs_rma_content h1 a{
    color: #0060FF;
}
.admin__field:not(.admin__field-option) > .admin__field-label{
    text-align: left;
    margin-left: 3px;
    color: #868686;
    font-size: 14px;
    width: calc( 17% - 3px );
}
#exto_rma_request_info_tabs_rma_content .admin__field{
    margin-bottom: 18px!important;
}
#exto_rma_request_info_tabs_rma_content .admin__field:last-child{
    margin-bottom: 0!important;
}
#exto_rma_request_info_tabs_rma_content .admin__field-control a{
    color: #0060FF!important;
}
.exto-rma-customer-fieldset, .exto-rma-additional-fieldset{
    padding: 0!important;
    background: none!important;
}
.exto-rma-customer-fieldset h1, .exto-rma-additional-fieldset h1{
    margin: 0!important;
}
.exto-rma-customer-fieldset .admin__field, .exto-rma-additional-fieldset .admin__field{
    margin-bottom: 10px!important;
}
#request_tab_content>div, #request_tab_content>div>fieldset{
    background: #F1F1F1;
    padding-top: 30px;
    padding-bottom: 0;
}
#exto_rma_chat_message{
    width:100%;
    background-color:#F8F8F8;
    border: 1px solid #E2E2E2;
    min-height: 138px;
    padding: 12px 16px 12px 16px;
}
#exto_rma_chat_container .actions>div{
    display: inline-block;
}
#exto_rma_chat_container .field{
    margin-bottom: 16px;
}
#exto_rma_chat_file_upload-input{
    visibility: hidden;
    position: absolute;
}
.exto_rma_chat_file_upload-wrapper{
    display: inline-block;;
}
.exto_rma_chat_file_upload-wrapper label{
    color: #0060FF;
}
.exto_rma_chat_file_upload-wrapper label:hover{
    text-decoration: underline;
    cursor: pointer;
}
.exto_rma_chat_quick_response-wrapper select{
    min-width: 200px!important;
    width: 420px;
}
#exto_rma_chat_container .actions button{
    margin-left: 10px;
}
.exto_rma_chat_file_upload-file_info{
    display: none;
}
.exto_rma_chat_file_upload-file_info-remove{
    font-family: 'Admin Icons';
    cursor: pointer;
}
.exto_rma_chat_file_upload-file_info-remove:before{
    content: '\e630';
    color: #999;
    font-size: 1.6rem;
}
.exto_rma_chat_thread{
    margin-top: 20px;
    font-size: 16px;
}
.exto_rma_chat_thread li{
    display: block;
    width: 97%;
    margin-bottom: 22px;
}
.exto_rma_chat_thread li.admin{
    margin-left: 3%;
}
.exto_rma_chat_thread li>div{
    color: #181817;
    padding: 17px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.11);
    position: relative;
}
.exto_rma_chat_thread li.admin div{
    background-color: #D6F1FF;
    margin-right: 16px;
}
.exto_rma_chat_thread li.customer div{
    background: #E4F2CA;
    margin-left: 16px;
}
.exto_rma_chat_thread li div span.corner{
    width: 16px;
    height: 32px;
    position: absolute;
    top: 0;
}
.exto_rma_chat_thread li.admin div span.corner{
    background: url('../images/blue-corner.png') no-repeat right;
    right: -16px;
}
.exto_rma_chat_thread li.customer div span.corner{
    background: url('../images/green-corner.png') no-repeat left;
    left: -16px;
}
.exto_rma_chat_thread li span.attachment{
    width: 100%;
    display: block;
}
.exto_rma_chat_thread li span.attachment a{
    color: #0060FF!important;
}
.exto_rma_chat_thread h4{
    font-size: 14px;
    color: #868686!important;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 20px;
}
#exto_rma_internal_chat{
    margin-top: 20px;
}
#exto_rma_internal_chat-message{
    width:100%;
    background-color:#F8F8F8;
    border: 1px solid #E2E2E2;
    min-height: 92px;
    padding: 8px 14px 8px 14px;
    margin-bottom: 16px;
}
#exto_rma_internal_chat-container .actions{
    text-align: right;
    margin-bottom: 30px;
}
#exto_rma_internal_chat-thread{
    margin-top: 20px;
}
#exto_rma_internal_chat-thread li{
    display: block;
    margin-bottom: 22px;
}
#exto_rma_internal_chat-thread h4 {
    font-size: 14px;
    color: #868686 !important;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
#exto_rma_internal_chat-thread li>div{
    padding: 28px 16px 20px 16px;
    background: #FFF2AC;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.11);
    margin-top: 18px;
    position: relative;
}
#exto_rma_internal_chat-thread li div span.corner{
    width: 32px;
    height: 18px;
    position: absolute;
    top: -18px;
    left: 10px;
    background: url("../images/yellow-corner.png") top;
}
#exto_rma_request_info_tabs_additional_info_content textarea{
    width: 100%;
    background-color: #F8F8F8;
    border: 1px solid #E2E2E2;
}
textarea.error{
    border-color: #e22626;
}
label.error{
    background: #fffbbb;
    border: 1px solid #ee7d7d;
    box-sizing: border-box;
    color: #555;
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin: .2rem 0 0;
    padding: .8rem 1rem .9rem;
}
.exto-rma-msg{
    position: fixed;
    top: -100px;
    left: calc(50% - 150px);
    border: 1px solid;
    padding: 10px 50px 10px 50px;
    text-align: center;
    z-index: 9999;
    font-size: 16px;
}
.exto-rma-msg__show{
    top: 20px;
}
.exto-rma-msg__success{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.exto-rma-msg__error{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
#exto_rma_request_info_tabs_additional_info_content label{
    padding: 0!important;
}
#exto-rma-admin-action-btn{
    float: right;
    margin-top: 9px;
}
#exto_rma_other_rma_list ul{
    margin-bottom: 3px;
}
#exto_rma_other_rma_list li{
    list-style: none;
    display: inline-block;
    padding: 0 10px 0 10px;
    border-right: 1px solid #D6D6D6;
    font-size: 16px;
}
#exto_rma_other_rma_list li:first-child{
    padding-left: 0;
}
#exto_rma_other_rma_list li:last-child{
    border: 0;
}
.exto_rma-data-block{
    padding-top: 18px!important;
}
.exto_rma-data-block ul li{
    display: inline-block;
    width: 24%;
}
.exto_rma-data-block__label{
    font-size: 14px;
    color: #868686;
    font-weight: 600;
}
.exto_rma-data-block__value{
    font-size: 16px;
    padding-top: 2px;
    font-weight: 600;
}
.exto-rma_message-date{
    float:right;
}
.tabs-horiz li{
    background-color: #F1F1F1 !important;
    border: 0!important;
}
.tabs-horiz .ui-state-active .ui-tabs-anchor{
    padding-top: 15px!important;
    border: 0!important;
    background: #F1F1F1 !important;
    font-size: 16px;
    color: #181817;
    text-decoration: none!important;
}
.tabs-horiz .ui-state-default{
    background: #fff!important;
    font-size: 16px;
    color: #494949;
}