<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Adminhtml\Request\Tabs\Additional $block */ ?>
<form id="exto-rma-additional-fieldset-form">
<fieldset class="fieldset admin__fieldset exto-rma-additional-fieldset">
    <?php foreach ($block->getCustomFieldList() as $customField):?>
        <div class="admin__field field <?php echo ($customField['is_required']) ? 'required' : ''; ?>">
            <label class="label admin__field-label" for="custom_field_<?php echo $customField['id']; ?>"><span><?php echo $customField['name']; ?></span></label>
            <div class="admin__field-control control">
            <?php switch ($customField['type_id']):
                case \Exto\Rma\Model\Source\Field\Type::CHECKBOX_VALUE: ?>
                    <input type="checkbox" name="custom_field[<?php echo $customField['id']; ?>]"
                           id="custom_field_<?php echo $customField['id']; ?>" value="1"
                        <?php echo ($customField['is_required']) ? 'class="checkbox required"' : ''; ?>
                        <?php echo !!$customField['value_as_text']?'checked' : ''; ?>
                        />
                    <?php break; ?>
                <?php case \Exto\Rma\Model\Source\Field\Type::DROPDOWN_VALUE: ?>
                    <select id="custom_field_<?php echo $customField['id']; ?>"
                            name="custom_field[<?php echo $customField['id']; ?>]"
                            <?php echo ($customField['is_required']) ? 'class="required"' : ''; ?>
                            title="<?php echo $customField['name']; ?>">
                        <?php foreach($customField['options'] as $value=>$label):?>
                            <option value="<?php echo $value; ?>"
                                <?php echo ($customField['value_as_text']==$value) ? 'selected' : ''; ?>>
                                <?php echo $label; ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                    <?php break; ?>
                <?php case \Exto\Rma\Model\Source\Field\Type::TEXT_VALUE: ?>
                    <input type="text" name="custom_field[<?php echo $customField['id']; ?>]"
                           id="custom_field_<?php echo $customField['id']; ?>"
                        <?php echo ($customField['is_required']) ? 'class="required"' : ''; ?>
                        value="<?php echo $customField['value_as_text']; ?>"
                        />
                    <?php break; ?>
                <?php case \Exto\Rma\Model\Source\Field\Type::TEXTAREA_VALUE: ?>
                    <textarea name="custom_field[<?php echo $customField['id']; ?>]"
                              id="custom_field_<?php echo $customField['id']; ?>"
                        <?php echo ($customField['is_required']) ? 'class="required"' : ''; ?>
                              cols="5" rows="3"><?php echo $customField['value_as_text']; ?></textarea>
                    <?php break; ?>
                <?php case \Exto\Rma\Model\Source\Field\Type::DATE_VALUE: ?>
                    <?php echo $block->getDateInput($customField); ?>
                    <?php break; ?>
            <?php endswitch; ?>
            </div>
        </div>
    <?php endforeach; ?>
    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            window.exto_rma = window.exto_rma||{};
            window.exto_rma.fieldChangeAction = <?php echo $block->getFieldChangeAction(); ?>;
        });
    </script>
</fieldset>
</form>
<script type="text/javascript">
    require([
        'jquery',
        'jquery/validate',
        'mage/translate'
    ], function ($, validate) {
        $('#exto-rma-additional-fieldset-form').validate({
            'ignore': ''
        }).form();
    });
</script>