<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Adminhtml\Request\Tabs\Customer $block */?>
<?php $request = $block->getRequest(); ?>
<h1><?php echo $block->getCustomerName(); ?>&nbsp;&lt;<?php echo $block->getCustomerEmail(); ?>&gt;</h1>
<fieldset class="fieldset admin__fieldset exto-rma-customer-fieldset">
    <div class="admin__field field">
        <?php echo nl2br($block->getContactInformation()); ?>
    </div>
    <?php if ($this->getCustomer()->getId()):?>
    <div class="admin__field field">
        <?php echo __('Customer Group: %1', $block->getGroupLabel()); ?>
    </div>
    <div class="admin__field field">
        <?php echo __('Customer Since %1', $block->getRegistrationDate()); ?>
    </div>
    <?php endif; ?>
    <div class="admin__field field">
        <span><?php echo __('Orders:'); ?></span>&nbsp;
        <?php foreach($block->getAnotherOrderList() as $option):?>
            <a href="<?php echo $option['href']; ?>" target="_blank"><?php echo $option['label']; ?></a>
        <?php endforeach; ?>
    </div>
</fieldset>