<?php // @codingStandardsIgnoreFile ?>
<?php /** @var \Exto\Rma\Block\Adminhtml\Request\Tabs\General $block */?>
<?php $request = $block->getRequest(); ?>
<h1><?php echo __('Request #%1 for order ', $request->getIncrementId()); ?>
<a href="<?php echo $block->getOrderUrl(); ?>" target="_blank"><?php echo $block->getOrderIncrementId(); ?></a>
</h1>
<fieldset class="fieldset admin__fieldset">
    <input id="request_id" name="general[entity_id]" value="<?php echo $request->getId(); ?>" type="hidden"/>
    <div class="admin__field field">
        <label class="label admin__field-label" for="general_owned_by"><span><?php echo __('Owned by'); ?></span></label>
        <div class="admin__field-control control">
            <select id="general_owned_by" name="general[owned_by]" class="select admin__control-select">
                <?php foreach($block->getOwnedOptions() as $option):?>
                    <option value="<?php echo $option['value']; ?>"
                            <?php if ($option['value'] == $request->getOwnerId()):?>selected="selected"<?php endif; ?>
                        >
                        <?php echo $option['label']; ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <div class="admin__field field">
        <label class="label admin__field-label" for="general_status"><span><?php echo __('Status'); ?></span></label>
        <div class="admin__field-control control">
            <select id="general_status" name="general[status]" class="select admin__control-select">
                <?php foreach($block->getStatusOptions() as $option):?>
                    <option value="<?php echo $option['value']; ?>"
                        <?php if ($option['value'] == $request->getStatusId()):?>selected="selected"<?php endif; ?>
                        >
                        <?php echo $option['label']; ?>
                    </option>
                <?php endforeach; ?>
            </select>
            <button id="exto-rma-admin-action-btn" class="primary" data-status-id="<?php echo $block->getOwnerActionStatusId(); ?>"
                <?php if (!$block->isOwnerActionExist()):?>style="display:none;"<?php endif; ?>>
                <?php echo $block->getOwnerActionLabel(); ?>
            </button>
        </div>
    </div>
    <div class="admin__field field">
        <label class="label admin__field-label" for="general_resolution"><span><?php echo __('Resolution'); ?></span></label>
        <div class="admin__field-control control">
            <select id="general_resolution" name="general[resolution]" class="select admin__control-select">
                <?php foreach($block->getResolutionOptions() as $option):?>
                    <option value="<?php echo $option['value']; ?>"
                            <?php if ($option['value'] == $request->getResolutionId()):?>selected="selected"<?php endif; ?>
                        >
                        <?php echo $option['label']; ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <div class="admin__field field">
        <label class="label admin__field-label"><span><?php echo __('Other RMA for this order'); ?></span></label>
        <div class="admin__field-control control" id="exto_rma_other_rma_list">
            <ul>
                <?php $i = 0; ?>
                <?php foreach($block->getAnotherRmaLinks() as $option):?>
                    <?php $i++; ?>
                    <li><a href="<?php echo $option['href']; ?>" target="_blank"><?php echo $option['label']; ?></a></li>
                    <?php if ($i%4 === 0):?> </ul><ul> <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
    <div class="exto_rma-underline"></div>
    <div class="admin__field field exto_rma-data-block">
        <ul>
            <li>
                <div class="exto_rma-data-block__label"><?php echo __('Created'); ?></div>
                <div class="exto_rma-data-block__value">
                    <?php echo $block->formatDate($request->getCreatedAt(), \IntlDateFormatter::MEDIUM); ?>
                </div>
            </li>
            <li>
                <div class="exto_rma-data-block__label"><?php echo __('Updated'); ?></div>
                <div class="exto_rma-data-block__value">
                    <?php echo $block->formatDate($request->getUpdatedAt(), \IntlDateFormatter::MEDIUM); ?>
                </div>
            </li>
            <li>
                <div class="exto_rma-data-block__label"><?php echo __('Package'); ?></div>
                <div class="exto_rma-data-block__value">
                    <?php echo $block->getPackageLabel(); ?>
                </div>
            </li>
            <li>
                <div class="exto_rma-data-block__label"><?php echo __('Reason'); ?></div>
                <div class="exto_rma-data-block__value">
                    <?php echo $block->getReasonLabel(); ?>
                </div>
            </li>
        </ul>
    </div>
    <div class="admin__field field">
        <table id="exto_rma_request_item_list">
            <?php foreach($block->getItemOptions() as $option): ?>
                <tr>
                    <td><a href="<?php echo $option['url']; ?>" target="_blank"><?php echo $option['name']; ?></a></td>
                    <td><?php echo $option['sku']; ?></td>
                    <td><?php echo $option['qty']; ?></td>
                    <td><?php echo $option['subtotal']; ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            window.exto_rma = window.exto_rma||{};
            window.exto_rma.changeOwnerAction = <?php echo $block->getChangeOwnerAction(); ?>;
            window.exto_rma.changeStatusAction = <?php echo $block->getChangeStatusAction(); ?>;
            window.exto_rma.changeResolutionAction = <?php echo $block->getChangeResolutionAction(); ?>;
            window.exto_rma.successMsg = <?php echo \Zend_Json::encode(__('Changes have been saved')); ?>;
        });
    </script>
</fieldset>