<div class="extra_ship">
    <div id="ship_part_no">
        <strong><?php echo __('Shipped Part No') ?>:</strong>
        <input type="text" class="input-text admin__control-text shippartno " name="shipment[ship_partno]" value=""/>
    </div>
    <div id="delivery_date">
        <strong><?php echo __('Delivery Date') ?>:</strong>
        <input type="text" id='date' class="input-text admin__control-text hasDatepicker calendar_inputField_delivery" name="shipment[delivery_date]" value=""/>
    </div>
    <div id="delivery_date">
        <strong><?php echo __('Date of Arrival') ?>:</strong>
        <input type="text" id='date_of_arrival' class="input-text admin__control-text hasDatepicker calendar_inputField_arrival" name="shipment[date_of_arrival]" value=""/>
    </div>
    <div id="deadline_rma">
        <strong><?php echo __('Deadline RMA') ?>:</strong>
        <span id="deadline_value"></span>
        <input type="hidden" class="input-text admin__control-text calendar_deadlineField" name="shipment[deadline_rma]" value=""/>
    </div>
</div>

<style>
    .extra_ship > div > strong {display:block;}
    .extra_ship input {width:100%;}
</style>
<script>
    require([
        "jquery",
        "mage/calendar"
    ], function ($) {
        $(".calendar_inputField_arrival").calendar({
            dateFormat: "yy-M-d",
            showsTime: false,
            changeYear: true,
            changeMonth: true,
            minDate: new Date(),
            yearRange: "1970:2050",
            buttonText: "Select Date",
            closeText: 'Clear',
            onClose: function (dateText, inst) {
                if ($(window.event.srcElement).hasClass('ui-datepicker-close'))
                {
                    document.getElementById(this.id).value = '';
                    $('#deadline_value').html("");
                    $('.calendar_deadlineField').val("");
                }
            },
            onSelect: function(dateText,selectedDate) {
                var num =100; //100 days
                var date = $(this).datepicker("getDate"); //Get the Date object with actual date
                date.setDate(date.getDate() + num);
                var date_text = $.datepicker.formatDate('yy-mm-dd', date);
                console.log(date_text);
                $('#deadline_value').html(date_text);
                $('.calendar_deadlineField').val(date_text);
            }
        });
        $(".calendar_inputField_delivery").calendar({
            dateFormat: "yy-M-d",
            showsTime: false,
            changeYear: true,
            changeMonth: true,
            minDate: new Date(),
            yearRange: "1970:2050",
            buttonText: "Select Date",
            closeText: 'Clear',
            onClose: function (dateText, inst) {
                if ($(window.event.srcElement).hasClass('ui-datepicker-close'))
                {
                    document.getElementById(this.id).value = '';
                }
            }
        });
    });
</script>