<?php /* @var block \Magebees\Finder\Block\FinderProduct */ ?>
<?php if($block->getCategoryListEnabled()): ?>
<?php 
$finder = $this->getRequest()->getParam('finder');
$finderId = $this->getRequest()->getParam('finder_id');
?>
<?php $categoryIds = $block->getCategoriesCollection(); ?>
<?php if(count($categoryIds)): ?>
<div class="page-title-wrapper">
    <h1 aria-labelledby="page-title-heading toolbar-amount" id="page-title-heading" class="page-title">
        <span data-ui-id="page-title-wrapper" class="base"><?php echo $block->getCategorylistHeading() ?></span>
    </h1>
</div>
<div class="products wrapper grid products-grid categoryGrid">
    <ol class="products list items product-items">
        <?php foreach($categoryIds as $cat): ?>
		<?php $_category = $block->loadCategoriesById($cat);
			$url = $_category->getUrl()."?finder=".urlencode($finder)."&finder_id=".$finderId;
			if(!$_category->getIsActive() || $block->getCurrentStore()->getRootCategoryId()==$cat){
				continue;
			}
			$_helper    = $this->helper('Magento\Catalog\Helper\Output');
			$_imgHtml   = ''; ?>
			<li class="item product product-item">
			<?php if ($_imgUrl = $_category->getImageUrl()): ?>
				<?php $_imgHtml = '<div class="category-image"><img src="' . $_imgUrl . '" alt="' . $this->escapeHtml($_category->getName()) . '" title="' . $this->escapeHtml($_category->getName()) . '" class="image" /></div>';
				$_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
				?>
				<a href="<?php echo $url; ?>" class="product-image">
					<?php echo $_imgHtml; ?>
				</a>
			<?php endif; ?>
            <strong class="product name product-item-name">
				<a href="<?php echo $url ?>"><?php echo $_category->getName(); ?></a>
            </strong>
			</li>
		<?php endforeach; ?>
	</ol>
	<?php endif; ?>
<?php endif; ?>
</div>

