<?php 
/* @var block \Magebees\Finder\Block\Finder */
if($block->getEnabled()): 
$finderId = $block->getData('finder_id'); ?>
<?php
	$finderArr = array();
	if($finderId==""){
		$finderId=$this->getRequest()->getParam('finder_id');
		$finderString=$this->getRequest()->getParam('finder');
		$finderArr=explode(":",$finderString);
	}
?>
<?php $dropdownCollection = $block->getDropdownsCollectionByFinderId($finderId); ?>
<?php $finderCollection = $block->getFinderById($finderId); ?>
<?php $searchurl = $this->getUrl('finder/index/search'); ?>
<?php if($finderCollection->getStatus()): ?>
<div class="finderProducts <?php echo $finderCollection->getDropdownStyle() ?>">
	<form action="<?php //echo $searchurl; ?>" id="finderform_<?php echo $finderId ?>" name="finderform"  class="finderform" method="post">
		<h3 class="finder_header"><?php echo __($finderCollection->getTitle()); ?></h3>
		<div id="<?php echo "finderDropdowns_".$finderId ?>" class="finderDropdowns">
		<ul class="clearfix">
			<?php
			$i=1;
			$count=$dropdownCollection->count();	
			$selectedValues="";
			$finderStr = "";
			foreach($dropdownCollection as $dropdown):
				$productarray=array();
				$field= "field".$i;
			?>
				<li id="drop_<?php echo $finderId ?>_<?php echo $i?>" class="drop_<?php echo $i; ?> column<?php echo $finderCollection->getNoOfColumns() ?>">
					<label><?php echo __($dropdown->getName().": "); ?></label>
					<select name="finder_<?php echo $i ?>" field-id="<?php echo $i ?>" drop-down-counts="<?php echo $count ?>" drop-down-id="<?php echo $dropdown->getId() ?>" id="finder_<?php echo $finderId ?>_<?php echo $i?>" >
						<option value=""><?php echo __("Please Select"); ?></option>
						<?php if($i==1 || !empty($finderArr))
						{
							$productCollection = $block->getProductsByFinderId($finderId,$dropdown->getId(),$i);
							foreach($productCollection as $product)	{
								$key= $product->getData($field);
								if(!array_key_exists($key,$productarray))
								{
									?>
										<option value="<?php echo $product->getData($field);?>" <?php if(count($finderArr)!=""){ 
																		if(array_key_exists($i-1,$finderArr) && $finderArr[$i-1] == $key){ 
																			?> selected="selected" <?php 
																			}
																		}?> >
											<?php echo $product->getData($field); ?>
										</option>
										
									<?php
									$productarray[$key]=$key;
								}
							}
						}
						?>
					</select>
				</li>
				<?php $i++; ?>
			<?php endforeach; ?>
		</ul>
		</div>
		<button id="find_<?php echo $finderId ?>" type="submit" title="Find" value="1" name="find" class="action subscribe primary" disabled="" ><span>Find</span></button>
	</form>
</div>
<?php $url = $this->getUrl('finder/index/finder'); ?>
<script type="text/javascript">
	requirejs(['jquery','cwsfinder'], function(jQuery){
		var finderMage = {'finderId':'<?php echo $finderId ?>','url':'<?php echo $url ?>','searchurl':'<?php echo $searchurl ?>','autosearch':<?php echo $block->getAutosearch() ?>};
		var dropdown_div_id = '<?php echo "#finderDropdowns_".$finderId ?>';
		jQuery(dropdown_div_id).cwsfinder(finderMage);
	});	
</script>
<?php endif; ?>
<?php endif; ?>
