/**
 * Solwin Infotech
 * Solwin Request For Quote Extension
 * 
 * @category   Solwin
 * @package    Solwin_Ourquote
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/
 */

.quote-heading {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    font-size: 18px;
    padding-bottom: 15px;
}
#quote-form {
    margin-top: 20px;
}
#quote-form .checkb{
    float: left;
    margin: 0 20px 10px;
    vertical-align: middle;
}
.upload-doc{
    float: left;
    width: 100%;
}
.req-btn {
    clear: left;
}
.req-btn a {
    background: none repeat scroll 0 0 #1979c3;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
}
.req-btn a:hover {
    background: #006BB4;
    text-decoration: none;
}