{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Hello, %customer_name," customer_name=$customer_name}}</p>

<p>{{trans "We would like to inform you about..."}}</p>

{{template config_path="design/email/footer_template"}}