<?php
/**
 * Solwin Infotech
 * Solwin Request For Quote Extension
 * 
 * @category   Solwin
 * @package    Solwin_Ourquote
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/  End-user License Agreement
 */
$helper = $this->helper('Solwin\Ourquote\Helper\Data');
$enable = $helper->getConfigValue('quotesection/quotegroup/active');
?>
<?php if ($enable) { ?>

    <li class="Test-Class">  
        <a <?php echo $block->getLinkAttributes() ?>><?php echo $block->escapeHtml($block->getLabel()) ?>  
            <?php echo($block->getCounter()) ? '<span class="counter qty">' . $block->escapeHtml($block->getCounter()) . '</span>' : ''; ?>  
        </a>  
    </li>

<?php
}