<?php
/**
 * Solwin Infotech
 * Solwin Request For Quote Extension
 * 
 * @category   Solwin
 * @package    Solwin_Ourquote
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/  End-user License Agreement
 */
$helper = $this->helper('Solwin\Ourquote\Helper\Data');
$fileext = $helper->getConfigValue('quotesection/uploaddoc/fileext');
$formAction = $this->getFormAction();

$isCaptchaEnable = $helper->getConfigValue('quotesection/recaptcha/enablecaptcha');
$getSitekey = $helper->getConfigValue('quotesection/recaptcha/sitekey');
$recaptchaTheme = $helper->getConfigValue('quotesection/recaptcha/captchatheme');

$productId = $this->getRequest()->getParam('id');
if (!isset($productId)) {
    $productId = 0;
}
?>

<?php
/**
 * 
 *  set global message
 */
echo $block->getLayout()->getMessagesBlock()->getGroupedHtml();
?>

<div class="quote-heading">
    <span><?php echo __('RFQ Requirements'); ?></span>
</div>
<form class="form quote"
      action="<?php echo $formAction . 'pid/' . $productId; ?>"
      id="quote-form"
      method="post"
      enctype="multipart/form-data"
      data-hasrequired="<?php echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="field name">
            <label class="label" for="company"><span><?php echo __('Company Name') ?></span></label>
            <div class="control">
                <input name="company" id="company" title="<?php echo __('Company Name') ?>" class="input-text" type="text"/>
            </div>
        </div>
        <div class="field name required">
            <label class="label" for="contact_name"><span><?php echo __('Contact Name') ?></span></label>
            <div class="control">
                <input name="contact_name" id="contact_name" title="<?php echo __('Contact Name') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?php echo __('Email') ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?php echo __('Email') ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field telephone">
            <label class="label" for="phone"><span><?php echo __('Contact Number') ?></span></label>
            <div class="control">
                <input name="phone" id="phone" title="<?php echo __('Contact Number') ?>" class="input-text" type="text" />
            </div>
        </div>
        <div class="field">
            <label class="label" for="project_title"><span><?php echo __('Project Title') ?></span></label>
            <div class="control">
                <input name="project_title" id="project_title" title="<?php echo __('Project Title') ?>" class="input-text" type="text" />
            </div>
        </div>
        <div class="field required">
            <label class="label" for="date"><span><?php echo __('Quote Needed By') ?></span></label>
            <div class="control">
                <input name="date" id="calendar_date" title="<?php echo __('Quote Needed By') ?>" class="input-text required-entry" type="text" readonly/>
                <script>
                    require(["jquery", "mage/calendar"], function ($) {
                        $("#calendar_date").calendar({
                            showsTime: true,
                            dateFormat: "yy/M/d"
                        });
                    });
                </script>
            </div>
        </div>
        <div class="field comment required">
            <label class="label" for="overview"><span><?php echo __('Brief Overview') ?></span></label>
            <div class="control">
                <textarea name="overview" id="overview" title="<?php echo __('Brief Overview') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="budget_status"><span><?php echo __('Project Budget Status') ?></span></label>
            <div class="control input-box">
                <div class="checkb">
                    <input type="radio" checked="checked" value="Approved" name="budget_status"><?php echo __('Approved') ?>
                </div>
                <div class="checkb">
                    <input type="radio" value="Approval Pending" name="budget_status"><?php echo __('Approval Pending') ?>
                </div>
                <div class="checkb">
                    <input type="radio" value="Open" name="budget_status"><?php echo __('Open') ?>
                </div>
                <div class="checkb">
                    <input type="radio" value="No Approval" name="budget_status"><?php echo __('No Approval') ?>
                </div>
            </div>
        </div>
        <div class="field upload-doc">
            <label class="label" for="uploaddoc"><span><?php echo __('Upload Document') ?></span></label>
            <div class="control">
                <input name="uploaddoc" id="uploaddoc" title="<?php echo __('Upload Document') ?>" class="input-text" type="file" />
                <p><?php echo __('You can upload files with these file extensions only('); ?><?php echo $fileext; ?>).</p>
            </div>
        </div>

        <?php if ($isCaptchaEnable) { ?>
            <div class="field">
                <label class="label"><span><?php echo __('reCaptcha') ?></span></label>
                <div class="control">
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="<?php echo $getSitekey; ?>" data-theme="<?php echo $recaptchaTheme; ?>"></div>
                </div>
            </div>
        <?php } ?>

    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="change_status" id="change_status" value="new" />
            <input type="hidden" name="product_id" id="product_id" value="<?php echo $productId; ?>" />
            <button type="submit" title="<?php echo __('Submit') ?>" class="action submit primary">
                <span><?php echo __('Submit') ?></span>
            </button>
        </div>
    </div>
</form>