<?php
/**
 * Solwin Infotech
 * Solwin Request For Quote Extension
 * 
 * @category   Solwin
 * @package    Solwin_Ourquote
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/  End-user License Agreement
 */
$helper = $this->helper('Solwin\Ourquote\Helper\Data');
$isenable = $helper->getConfigValue('quotesection/quotegroup/active');
if ($isenable) {
    $_product = $block->getProduct();
    $productId = $_product->getId();
    $productSku = $_product->getSku();
    $baseUrl = $helper->getBaseUrlWithStoreCode() . 'ourquote/index/index/id/' . $productId;
    ?>
    <div class="req-btn">
        <a title="<?php echo __('Quote') ?>" href="<?php echo $baseUrl; ?>" class="action">
            <?php echo __('Request for Quote') ?>
        </a>
    </div>
<?php
}