<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Shipping\Block\Adminhtml\View */ ?>
<?php $order = $block->getOrder() ?>
<?php if ($order->getIsVirtual()) : return '';endif; ?>

<?php /* Shipping Method */ ?>
<div class="admin__page-section-item order-shipping-method">
    <div class="admin__page-section-item-title">
        <span class="title"><?php /* @escapeNotVerified */
            echo __('Shipping &amp; Handling Information') ?></span>
    </div>
    <div class="admin__page-section-item-content">
        <?php if ($order->getTracksCollection()->count()) : ?>
            <p><a href="#" id="linkId" onclick="popWin('<?php /* @escapeNotVerified */
                echo $this->helper('Magento\Shipping\Helper\Data')->getTrackingPopupUrlBySalesModel($order) ?>','trackorder','width=800,height=600,resizable=yes,scrollbars=yes')"
                  title="<?php /* @escapeNotVerified */
                  echo __('Track Order') ?>"><?php /* @escapeNotVerified */
                    echo __('Track Order') ?></a></p>
        <?php endif; ?>
        <?php if ($order->getShippingDescription()): ?>
            <strong><?php echo $block->escapeHtml($order->getShippingDescription()) ?></strong>

            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingPriceIncludingTax()): ?>
                <?php $_excl = $block->displayShippingPriceInclTax($order); ?>
            <?php else: ?>
                <?php $_excl = $block->displayPriceAttribute('shipping_amount', false, ' '); ?>
            <?php endif; ?>
            <?php $_incl = $block->displayShippingPriceInclTax($order); ?>

            <?php /* @escapeNotVerified */
            echo $_excl; ?>
            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl): ?>
                (<?php /* @escapeNotVerified */
                echo __('Incl. Tax'); ?><?php /* @escapeNotVerified */
                echo $_incl; ?>)
            <?php endif; ?>
        <?php else: ?>
            <?php /* @escapeNotVerified */
            echo __('No shipping information available'); ?>
        <?php endif; ?>
        <div id="delivery-info" data-bind="scope:'deliveryinfo'">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
        <script type="text/x-magento-init">
            {
                "#delivery-info": {
                    "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */
            echo $block->getJsLayout(); ?>
                }
            }

        </script>
        <script>
            require([
                'mage/url'
            ], function (url) {
                return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
            });
            var order_id = <?php echo $order->getId()?>;
            var order_status_completed = <?php echo $order->getStatus() == "complete"?"1":"0"?>;
            <?php
            $shippings = $order->getShipmentsCollection();
            if ( $shippings->getSize() > 0): ?>
            <?php foreach ($shippings as $shipping): ?>
            var cur_delivery = '<?php echo ($delivery_date = $shipping->getDeliveryDate()) ? $delivery_date : ""?>';
            var cur_shippartno = '<?php echo ($no = $shipping->getShipPartno()) ? $no : ""?>';
            var cur_dateofarrival = '<?php echo ($date_of_arrival = $shipping->getDateOfArrival()) ? $date_of_arrival : ""?>';
            var cur_esttime = '<?php echo ($d_date = $order->getDeliveryDate()) ? $d_date : ""?>';
            var isvisible = <?php echo ($isvisible = $order->getVisibleInStorefront()) ? 1 : 0?>;
            var cur_deadlinerma = '<?php echo ($deadline_rma = $shipping->getDeadlineRma()) ? $deadline_rma : ""?>';
            <?php endforeach; ?>
            <?php else:?>
            var cur_delivery = '';
            var cur_shippartno = '';
            var cur_dateofarrival = '';
            var cur_esttime = '';
            var isvisible = 0;
            var cur_deadlinerma = '';
            <?php endif; ?>
        </script>
    </div>
</div>
