<?php // @codingStandardsIgnoreFile ?>
<div class="admin__field field field-option ">
    <label class="label admin__field-label">
        <span><?php echo $this->getFrontendLabel() ?></span>
    </label>
    <table class="admin__control-table admin__field-control control">
        <tbody>
            <?php $options = $block->getOptionValues() ?>
            <?php foreach ($block->getStores() as $store): ?>
                <tr>
                    <td class="admin__field-label"><?php echo $store->getName() ?></td>
                    <td class="col-store-view">
                        <input class="input-text" type="text" name="<?php echo $block->getFieldCode() ?>[<?php echo $store->getId() ?>]" value="<?php if (isset($options[$store->getId()])): ?><?php echo $block->escapeHtml($options[$store->getId()]) ?><?php endif; ?>"/>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
        <tfoot><tr><td style="background: none;padding:0"><?php echo $block->getAfterElementHtml(); ?></td></tr></tfoot>
    </table>
</div>

