<?php // @codingStandardsIgnoreFile ?>
<div class="admin__field field options-content">
    <label class="label admin__field-label">
        <span></span>
    </label>
    <table class="admin__control-table admin__field-control control">
        <thead>
            <tr>
                <?php $columnsHeader = $block->getColumnsHeader() ?>
                <?php foreach ($columnsHeader as $header): ?>
                    <th class="col-store-view"><?php /* @escapeNotVerified */ echo $header ?></th>
                <?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($block->getTableRows() as $row): ?>
                <?php echo $row?>
            <?php endforeach; ?>
        </tbody>
        <tfoot><tr>
            <td style="background: none;padding:0" colspan="3">
                <?php echo $block->getAfterElementHtml(); ?>
            </td>
        </tr></tfoot>
    </table>
</div>
<script type='text/javascript'>
    require(['jquery'], function($){
        var checkCorrespondingCustomerActionFn = function(){
            var isVal = false;
            $('.corresponding_customer_action').each(function(){
                isVal = isVal || $(this).val();
                if (!$(this).val()) {
                    $(this).parent().parent().find('.confirmation_text').hide();
                }
            });
            if (isVal) {
                $('.field-customer_action_changes_status_id').show();
                $('.field-is_require_confirmation').show();
            } else {
                $('.field-customer_action_changes_status_id').hide();
                $('.field-is_require_confirmation').hide();
            }
        };

        $(document).ready(function(){
            checkCorrespondingCustomerActionFn();
            statusTableCheckboxTriggerEvent();
        });

        function statusTableCheckboxTriggerEvent() {
            $("#status_is_require_confirmation_1").each(function() {
                if(this.checked) {
                    $('.confirmation_text').show();
                } else {
                    $('.confirmation_text').hide();
                }
            });
        }

        $('.corresponding_customer_action').on('input',function(e){
            checkCorrespondingCustomerActionFn();
            if ($(this).val()) {
                statusTableCheckboxTriggerEvent();
            }
        });

        $("#status_is_require_confirmation_1").change(function() {
            if(this.checked) {
                $('.confirmation_text').show();
            } else {
                $('.confirmation_text').hide();
            }
        });
    });
</script>

