<?php // @codingStandardsIgnoreFile ?>
<div class="admin__field field field-options ">
    <label class="label admin__field-label">
        <span><?php echo $this->getFrontendLabel() ?></span>
    </label>
    <table class="admin__control-table admin__field-control control">
        <tbody id="field_options">
            <?php $options = $block->getOptionValues() ?>
            <?php foreach ($block->getStores() as $store): ?>
                <tr>
                    <td class="admin__field-label"><?php /* @escapeNotVerified */ echo $store->getName() ?></td>
                    <td class="col-store-view">
                        <textarea class="input-text" name="<?php echo $block->getFieldCode() ?>[<?php echo $store->getId() ?>]"><?php if (isset($options[$store->getId()])): ?><?php echo $block->escapeHtml($options[$store->getId()]) ?><?php endif; ?></textarea>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
        <tfoot><tr>
            <td style="background: none;padding:0" colspan="3">
                <?php echo $block->getAfterElementHtml(); ?>
            </td>
        </tr></tfoot>
    </table>
</div>

