<!--@subject New message for RMA #{{var rma.getIncrementId()}} @-->
<!--@vars {
"var rma.getIncrementId()":"Request ID",
"var status":"Request status",
"var order.getCustomerName()":"Customer Name",
"var message":"Message"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%name," name=$order.getCustomerName()}}</p>
            <p>
                {{trans "New message received for your RMA #%rma_id." rma_id=$rma.getIncrementId()}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans "New Message"}}</h1>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend message}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var message|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}