<!--@subject New message for RMA #{{var rma.getIncrementId()}} @-->
<!--@vars {
"var rma.getIncrementId()":"Request ID",
"var status":"Request status",
"var order.getCustomerName()":"Customer Name",
"var message":"Message",
"var url_to_view":"URL to view"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%name," name=$order.getCustomerName()}}</p>
            <p>
                {{trans "New message received for RMA #%rma_id." rma_id=$rma.getIncrementId()}}
                {{trans 'You can check the status of RMA by <a href="%url">following this link</a>.' url=$url_to_view}}
            </p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}