<!--@subject {{trans "New RMA request #%rma_increment_id" rma_increment_id=$rma_increment_id}} @-->
<!--@vars {
"var rma_increment_id":"Rma Request ID",
"var customer_name":"Customer Name",
"var rma_backend_url":"RMA backend url"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "New RMA request from %customer_name," customer_name=$customer_name}}</p>
            <p>
                {{trans 'You can check the request information by <a href="%rma_backend_url">following this link</a>.' rma_backend_url=$rma_backend_url |raw}}
            </p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}