<!--@subject Status of RMA #{{var rma.getIncrementId()}} changed @-->
<!--@vars {
"var rma.getIncrementId()":"Request ID",
"var status":"Request status",
"var order.getCustomerName()":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%name," name=$order.getCustomerName()}}</p>
            <p>
                {{trans "Status of RMA #%rma_id has been changed." rma_id=$rma.getIncrementId()}}
            </p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}